@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:wght@300&display=swap');

body {
    background: linear-gradient(180deg, #000346 0%, #FF0000 100%), linear-gradient(58.72deg, #0029FF 0%, #AA0014 100%), radial-gradient(100% 164.72% at 100% 100%, #FF00A8 0%, #00FF47 100%), radial-gradient(100% 148.07% at 0% 0%, #FFF500 0%, #51D500 100%);
    background-blend-mode: overlay, overlay, difference, normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(245, 177, 177);
    font-family: 'Open Sans', sans-serif;
}

div.centralizar {
    text-align: center;
}

table {
    /*border-color: white;*/
    /*--> se botar junto, deixa só a borda de fora*/
    border-collapse: collapse;
    /*linhas da borda finas*/
    width: 500px;
    height: 400px;
    text-align: center;
    border-color: bisque;
}

td {
    width: 35px;
    padding-top: 20px;
    border-color: bisque;
}

h2{
    font-family: 'Spectral SC', serif;
}